/*PRIO-b: css in less*/
body {
	margin: 0 auto;
	/* für nicht-css3 browser */
	background: #222222; 
	/* für IE */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222222', endColorstr='#666666') no-repeat; 
	/* für webkit */
	background: -webkit-linear-gradient(top, #222222, black) no-repeat;
	/* für firefox 3.6+ */
	background: linear-gradient(to bottom, #222222, #666666) no-repeat;
	max-width: 980px;
}

#content {
/* 	padding-top:10px; */
	position: relative;
}

h1,h2,h3,h4,h5,
.tab .caption {
	font-family: 'Roboto', sans-serif;
}
h1 {
  margin: 0 0 32px 64px !important;
}

.pageCaption {
	text-align: center;
}

.bg.indexBg {
	background: url("../img/bg-codingmechanic-blurred-reversed.jpg")
		no-repeat;
}
.bg.standardBg {
	background: url("../img/bg-codingmechanic-sw.jpg")
		no-repeat;
}

#home .container-fluid {
	background: url("../img/bg-codingmechanic-blurred-reversed.jpg") no-repeat 0 -95px;
}

#home .pageCaption {
	display: none;
}

.container-fluid {
	background: url("../img/bg-codingmechanic-sw.jpg") no-repeat 0 -95px;
}

.navbar#header img {
	padding: 10px 0 10px 20px;
}

.header {
	background: url("../img/bg-codingmechanic-blurred-reversed.jpg") no-repeat 0 0;
	border-bottom: 2px solid #454545;
}

.header svg {
	margin: 5px;
	border: 1px solid #666666;
    float: right;
    cursor: pointer;
/*     position: relative; */
/*     z-index: 10; */
}

#de {
	top:0px;
}
.en #de .black {
	fill: #666666;
}
.en #de .red {
	fill: #b37d83;
}
.en #de .gold {
	fill: #f2f2da;
}

#en {
	top:25px;
}
.de #en .blue {
	stroke: #455273;
}
.de #en .red {
	stroke: #b36b73;
}

.seek {
    float: right;
    margin: 60px 1% 0;
    width: 15%;
}

#home .row1 {
	background: url("../img/bg-codingmechanic-blurred-white.jpg") no-repeat scroll 10px -95px;
	border-radius: 0 0 15px 0;
    border-color: #ffffff;
    border-style: solid solid solid none;
    border-width: 2px 2px 2px medium;
}

#home .row1 .span12 {
	min-height: 460px;
}

#home .row1 .span2 {
}

#home .row2 .span4 {
	padding-top: 10px;
	text-align: center;
	max-height: 182px;
}

.sharpBg {
	background: url("../img/bg-codingmechanic-sharp-reversed.jpg") no-repeat 0 0;
}

.tagCloudContainer {
	width: 100%;
	position: relative;
	border-radius: 0 0 15px 0;
	margin-left: -20px;
}

/*--- TabStack ---*/
.sidemenu {
	font-size: 85%;
	list-style-type: none;
/* 	height: 450px; */
	position: relative;
	z-index: 10;
	left:-20px;
	top:-95px;
	width: 100%;
}

.tab {
	border-bottom: 1px solid #807962;
	border-radius: 0 0 13px 0;
	border-top: 1px solid #F2F0E6;
	box-shadow: 0 8px 10px #8A836A;
	color: #222222;
	cursor: pointer;
	height: 50px;
	margin: 0 !important;
	padding: 5px 0;
	position: absolute;
	z-index: 10;
	width: 100%;
	font-size: 180%;
    line-height: 2.3em;
}

.tab .caption {
    color: #333333;
    padding-left: 40px;
}

#tab0 {
	background-position: 0px -110px;
	top: 110px;
}

#tab1 {
	background-position: 0px -200px;
	top: 200px;
}

#tab2 {
	background-position: 0px -290px;
	top: 290px;
}

#tab3 {
	background-position: 0px -380px;
	top: 380px;
}

#tab4 {
	background-position: 0px -470px;
	top: 470px;
}

.icon {
	width:60px;
	float:left;
	padding-left:20px;
}

.shut .icon svg {
	fill: #cccccc;
}

.open .icon svg {
	fill: #F8E37D;
}

.profil .icon {
	background-position: -115px;
}

.leistungen .icon {
	background-position: right;
}

.referenzen .icon {
	background-position: -217px;
}

.vita .icon {
	background-position: left;
}

.kontakt .icon {
	background-position: -320px;
}

.terminal { 
	/*visibility: hidden;*/
}

.counterBox {
	height: 0px;
	width: 100%;
	background: white;
	position: absolute;
	overflow: hidden;
}

.counterBox span {
	background: white;
	padding: 0.5em 0 0 30px;
}

.counterBox a {
    font-size: 140%;
    line-height: 3em;
    padding-right: 40px;
    color: #7552CC;
}

.counterBox a:hover {
    color: #333333;
    text-decoration: none;
}

.counterBox svg:hover {
	fill: #333333; 
}

/*--- Ende TabStack ---*/
.linkIcon {
	float: right;
	margin: 0 10px 10px 0;
}

.activityBox {
	/* für nicht-css3 browser */
	background: #ffffff; 
	/* für IE */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d8d8d8', endColorstr='#ffffff') no-repeat; 
	/* für webkit */
	background: -webkit-linear-gradient(top, #d8d8d8, #ffffff) no-repeat;
	/* für firefox 3.6+ */
	background: linear-gradient(to bottom, #d8d8d8, #ffffff) no-repeat;
	
	border: 1px solid #eeeeee;
}

.activityBox>img {
	max-height: 120px;
}

.activityBox h4 {
	color: #333333;
	margin-top: 5px;
	margin-bottom: 5px;
}

/*--- Tag-Wolke ---*/
#tagCloud {
/*     margin: 0 0 0 -20px; */
	width: 100%;
	text-align: center;
	min-height: 440px;
	max-height: 440px;
	line-height: 2em;
	padding-top: 10px;
	overflow: hidden;
}
.tag1 { 
	font-size:1em; 
	color:#333333; 
}
.tag2 { 
	font-size:1.3em; 
	color:#808080;
}
.tag3 { 
	font-size:1.6em; 
	color:#cccccc;
}
#tagcloud a { 
	text-decoration:none; 
	padding: 0 0.1em 0 0.1em;
}
#tagcloud a:hover { 
	text-decoration:none; 
	color:#7552cc; 
}
#footer {
	text-align: center;
	padding: 20px 0 0;
	color: #333333;
}
#footer .span4 {
	min-height: 0;
}
#footer a, #footer a:hover {
	color:#333333;
}
/*--- Ende Tag-Wolke ---*/

/* Kontakt-Seite */
.kontaktText span {
	display: block;
	padding-bottom: 1em;
}
/* Ende Kontakt-Seite */

/* Vita-Seite */
#zeugnisse {
	padding-bottom:20px;
}
#zeugnisse .container {
	padding-left:92px;
}
#zeugnisse img {
	border: 1px solid #333333;
	box-shadow: 3px 3px 3px #cccccc;
}
#zeugnisse .zeugnis {
	display: inline;
	padding-right: 93px;
}
#zeugnisse .zeugnis.terminal{
	margin-left: -90px;
	padding-right: 0;
}
#lebenslauf {
	position: relative;
}
#lebenslauf td {
	width: 20%;
}
#freizeit .span4 {
	text-align: center;
}
tr.activity td {
	padding-bottom: 1em;
	padding-right: 1em;
}
tr.timeline {
	height: 20px;
}
tr.timeline td {
	border-top: 4px solid #666666;
	border-right: 4px solid #666666;
	text-align: right;
	padding-right: 1%;
	height: 3em;
	vertical-align: bottom;
}
tr.timeline td.terminal {
	border-top: 4px solid #666666;
	border-right: none;
}
svg#timeline {
    padding-top: 100px;
}

/*--- Referenzen-Seite --*/
#references .pageCaption {
/* 	display: none; */
	transform:rotate(-90deg);
	-ms-transform:rotate(-90deg); /* IE 9 */
	-webkit-transform:rotate(-90deg); /* Safari and Chrome */
	position: absolute;
	color: #f1d861;
	letter-spacing: 0.4em;
	font-size: 250%;
	left: -140px;
    font-weight: 400;
    letter-spacing: 0.7em;
    top: 130px;
	
}
#references h3 {
	visibility: hidden;
	line-height: 0;
}
#references .description {
	padding-left: 1%;
}
#references .description h2 {
	margin-bottom: 10px;
}
#references .description h2 a {
	color: #333333;
}
#references ul {
	padding-left: 15px;
	font-size: 100%;
	margin:0;
}
#references li {
	padding-bottom: 12px;
}
#panel,
.jcarousel-container {
	box-shadow: 5px 5px 7px #666666;
}
#upLink {
	float:right;
	font-size:80%;
	font-weight: normal;
}
.sitereference .caption {
	font-weight: bold;
	padding-top: 0.3em;
}
.siteReferencesHome .span4,
.animationReferencesHome .span4 {
	text-align: center;
	padding-bottom: 20px;
}
.siteReferencesHome img {
	border: 1px solid #333333;
	box-shadow: 3px 3px 2px #999999;
}
.siteReferencesHome .caption,
.animationReferencesHome .caption {
	margin-top: 5px;
	font-weight: bold;
}
#testRow {
	background-color: black;
	position: absolute;
}
#testRow div {
	max-height: 0.2em;
	overflow: hidden;
	background-color: white;
	text-align: center;
}
.designRefCapt {
	color: #666666;
	position:relative;
	transform:rotate(-90deg);
	-ms-transform:rotate(-90deg); /* IE 9 */
	-webkit-transform:rotate(-90deg); /* Safari and Chrome */
	top: 70px;
	left: -100px;
}
#lsvn {
	position: absolute;
	left:892px;
}
#blackNWhite {
	position: absolute;
	z-index: 10;
}
#siteReferences .siteReferencesProspect {
	display:none;
}
#references .siteReferencesHome {
	display:none;
}
#screen {
  opacity: 0;
  max-width:none;
}
#panel {
	background-color: #333333;
	border: 2px solid white;
	padding: 5px 10px;
}
.animationThumbnails {
	display: inline;
}
#carousel {
/*     padding: 0 80px; */
}
.jcarousel-skin-richterHp li {
    min-width:156px;
}
.jcarousel-skin-richterHp li img {
    height: 150px;
}
.jcarousel-skin-richterHp .jcarousel-container {
    //background: none repeat scroll 0 0 #ffffff;
    border: 2px solid #ffffff;
    border-radius: 10px 10px 10px 10px;
}
.jcarousel-skin-richterHp .jcarousel-container-horizontal {
    padding: 0px 30px;
}
.jcarousel-skin-richterHp .jcarousel-clip {
    overflow: hidden;
}
.jcarousel-skin-richterHp .jcarousel-item-horizontal {
    margin-left: 45px;
    margin-right: 45px;
}
.jcarousel-skin-richterHp .jcarousel-direction-rtl .jcarousel-item-horizontal {
    margin-left: 25px;
    margin-right: 25px;
}
.jcarousel-skin-richterHp .jcarousel-item-placeholder {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
}
/*--- goggleBox ---*/
#pageContainer {
  width: 900px;
  background-color: transparent;
  border-width: 0;
}
#buttonBar {
  clear: both;
  text-align: center;
  margin-left: 188px;
}
#buttonBar img {
  cursor: pointer;
}
img#firstButton {
  background: url(button.first.png) no-repeat;
}
img#lastButton {
  background: url(button.last.png) no-repeat;
}
img#previousButton {
  background: url(button.previous.png) no-repeat;
}
img#nextButton {
  background: url(button.next.png) no-repeat;
}
img#playButton {
  background: url(button.play.png) no-repeat;
}
img#playButton.photomatic-playing {
  background: url(button.pause.png) no-repeat;
}
#animationReferences .animationReferencesProspect {
	display:none;
}
#references .animationReferencesHome {
	display:none;
}
#sculer-screenshot,
#axtraxx-screenshot, 
#lsvn-screenshot {
	width:100%;
	box-shadow: 4px 4px 6px #666666;
}


/*--- responsive ---*/

@media (max-width: 767px) {
	body {
    	padding-left: 0;
    	padding-right: 0;
    	max-width: 767px;
  	}
	.header svg {
	    position: absolute;
	    right: 5px;
	}
  	#home .row1 {
  		border:none;
  	}
  	#home .row1 .span10 {
  		border-bottom: none;
  	}
  	.navbar#header img {
  		padding-left: 10px;
  		width: 300px;
  	}
	.tagCloudContainer {
		width: 100%;
		background: #ffffff;
		margin-left: 0;
	}
	#tagCloud {
		min-height:100px;
		max-height: 200px;
	}
	#home .sidemenu {
		min-height: 455px
	}
	#home .row1 .span2 {
		border-top: 1px solid #333333;
	}
	
	/*-- references --*/
	#panel {
		width: 120%;
	}
}

@media (max-width: 480px) {
	/*PRIO-b: background für smartphones platzieren*/
	body {
    	max-width: 480px;
	}
	.header{
		background-position: -300px 0px;
	} 
	#content {
    	margin-left:2%;
    	margin-right:2%;
	}
	.icon {
		margin-top: -5px;
	}
	.icon svg {
		width:42px; 
		margin-left: 10px;
	}
	.tab .caption {
    	padding-left: 20px;
	}
	.tab {
		height: 44px;
		font-size: 150%;
		line-height: 2.8em;
		padding: 0;
	}
	#tab0 {
		background-position: -90px -110px;
		top: 110px;
	}
	#tab1 {
		background-position: -90px -180px;
		top: 180px;
	}
	#tab2 {
		background-position: -90px -250px;
		top: 250px;
	}
	#tab3 {
		background-position: -90px -320px;
		top: 320px;
	}
	#tab4 {
		background-position: -90px -390px;
		top: 390px;
	}
	#tab5 {
		background-position: -90px -460px;
		top: 460px;
	}
	.counterBox svg {
		width:16px; 
	}
	.counterBox a {
	    font-size: 120%;
	    padding-right: 15px;
	}
	#home .sidemenu {
		min-height: 365px
	}
	#home .row1 {
    	background: url("../img/bg-codingmechanic-blurred-white.jpg") no-repeat scroll -100px -95px transparent;
    	border-color: #FFFFFF;
	}
	#carousel {
    padding: 0 30px;
	}
	.jcarousel-skin-richterHp .jcarousel-container-horizontal {
    padding: 10px 20px;
	}
	
	/*-- references --*/
	.container-fluid {
    	background-position: -300px -70px;
    }
	#references .pageCaption {
		display: block;
		position:static;
		transform:none;
		-ms-transform:none; /* IE 9 */
		-webkit-transform:none; /* Safari and Chrome */
		color: #f1d861;
		font-size: 180%;
	    font-weight: 400;
	    text-align: left;
	    letter-spacing: 0.3em;
    	margin: 15px 0 5px;
	}
	#references .row-fluid {
		border-bottom: 1px solid #666666;
	}
	#references h3 {
    	margin: 5px;
	}
	#panel {
		width: 80%;
	}
	#sculer-screenshot,
	#axtraxx-screenshot, 
	#lsvn-screenshot {
		margin-left: auto;
	    margin-right: auto;
	    padding-bottom: 3%;
	    width: 80%;
	}
}